<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div id="clock" class="clock"></div> <!-- นาฬิกา -->
    <div id="playerInfo" class="info-container">
        <h3 id="playerName">Player</h3>
        <p>Score: <span id="playerScore">0</span></p>
    </div>
    

    <div id="gameContainer">
        <h1>Chemmix</h1>

        <div id="character">
            <img src="/img/actor1.webp" alt="Character">
        </div>
        <div id="healthBar">
            <div id="health"></div>
        </div>
        <button id="collectPoints">Collect Coin</button>
        <div id="questionsContainer" style="display:none;">
            <form id="questionsForm"></form>
        </div>
    </div>

   
    <script src="/script.js"></script>
</body>
</html>
